
bin
obj
csx
.vs
edge
Publish

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/node_modules
/packages
/TestResults
/coverage

/tools/NuGet.exe
/App_Data
.secrets
appsettings.json
local.settings.json
getWait/index.js
getWait/function.json
*.mybak
junit.xml
.vscodeBak/
*.jose
*.mybak
*.mybak2
